.tahoma-font{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 50px;
}

.sales-tuesday{
    color: red;
    font-family: Arial;
    font-style: italic;
    font-size: 40px;
}

.biggest-deal{
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    width: 700px;
    line-height: 60px;
}

.course{
    color: black;
    font-family: Verdana;
    font-size: 50px;
    font-weight: bold;
    width: 650px;
    line-height: 50px;
    margin-bottom: 20px;
}

.beginner-to-pro{
   color: rgb(92, 87, 87);
   font-size: 30px;
   font-family: Verdana;
}

.this-course{
    font-family: Verdana;
    font-size: 30px;
    color: black;
    width: 550px;
    margin-top: 0;
}

.get-started-button{
    background-color: green;
    color: white;
    border: none;
    font-family: Verdana;
    font-size: 30px;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.see-how-it-works{
    font-family: Arial;
    font-size: 30px;
    color: black;
    width: 500px;
    text-align: center;
    line-height: 40px;
    margin-top: 0;
}

.learn-more{
    color: rgb(30, 103, 163);
    font-family: Arial;
    font-size: 30px;
}
.learn-more:hover{
    cursor: pointer;
    text-decoration: underline;
}

.new{
    font-family: Arial;
    color:orange;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}

.macbook-pro{
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 20px;
}

.supercharged-for-pros{
    font-family: Arial;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.price{
    font-family: Arial;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}

.buy-paragraph{
    background-color: rgb(57, 117, 196);
    color: white;
    font-family: Arial;
    width: 40px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-left: 800px;
}