.google-image{
    margin-left: 250px;
    display: block;
    margin-top: 100px;
    margin-bottom: 20px;
}

.search-bar{
    margin-left: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 500px;
    border-color: rgb(226, 222, 217);
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}